@tailwind base;
@tailwind components;
@tailwind utilities;

/* remove number arrow */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background: #1b599e;
  border-radius: 10px;
}
.custom_scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 1px;
  border-radius: 10px;
}
.custom_scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
}
.custom_scrollbar::-webkit-scrollbar-thumb {
  background: #1b599e;
  border-radius: 10px;
}

.clip-div {
  clip-path: polygon(0 0, 0 0, 100% 100%, 0 100%);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.navcolor:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 2px;
  background: #02bd95;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navcolor:hover:after {
  width: 100%;
  left: 0;
}
.navlink:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 2px;
  background: #02bd95;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navlink:hover:after {
  width: 100%;
  left: 0;
}
.title:after,
.heading:after {
  background: #009f4b;
  content: "";
  display: block;
  height: 3px;
  width: 60px;
  margin-top: 7px;
}
.line:after,
.heading2:after {
  background: #009f4b;
  content: "";
  display: block;
  height: 4px;
  width: 60px;
  margin: 7px auto;
  /* margin: 0 auto; */
}
@layer base {
  html,
  body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

.active {
  background-color: #02bd95;
  color: white;
}
.primary_color {
  @apply bg-[#02BD95] text-[#02BD95];
}
.para_color {
  @apply text-[#666];
}
.green_button {
  @apply focus:outline-none bg-[#02BD95] text-white font-semibold rounded-full active:scale-90 transition text-lg md:px-10 px-5 md:py-3 py-2;
}
.blue_button {
  @apply focus:outline-none bg-[#1489FB] text-white font-semibold rounded-full active:scale-90 transition text-lg md:px-10 px-5 md:py-3 py-2;
}
.darkBlue_button {
  @apply focus:outline-none bg-[#004D7F] text-white font-semibold rounded-full active:scale-90 transition text-lg md:px-10 px-5 md:py-3 py-2;
}
.darkGray_button {
  @apply focus:outline-none bg-[#B4B4B4] text-white font-semibold rounded-full active:scale-90 transition text-lg md:px-10 px-5 md:py-3 py-2;
}

.input_field {
  @apply border border-borderColor w-full rounded-lg p-3 outline-none focus:border-green-500;
}

.Label {
  @apply opacity-50 font-light;
}

.error {
  @apply text-red-500 font-medium capitalize;
}

.loading{
  @apply text-center w-full text-2xl flex items-center justify-center font-semibold
}